 /* CSS MH10 */

 html {
 	scroll-behavior: smooth;
 	overflow-x: hidden;
 }

 body {
 	font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
 }

 /* Todas as Seções */

 section {
 	padding-top: 100px;
 	padding-bottom: 100px;
 }

 /* Rodapé */

 footer {
 	background-color: rgba(0, 0, 0, 0.404);
 	color: rgb(248, 249, 250);
 	font-size: 0.9rem;
 }

 /* Tirar sublinhado dos links */

 a:link {
 	text-decoration: none;
 }

 /* Seção "Home" */

 #home {
 	height: 100vh;
 }

 /* Vídeo de fundo */

 #myVideo {
 	position: fixed;
 	right: 0;
 	bottom: 0;
 	min-width: 100%;
 	min-height: 100%;
 	width: auto;
 	height: auto;
 	z-index: -1000;
 	background-size: cover;
 	/*opacity: 0.50;
 	-moz-opacity: 0.50;
 	filter: alpha(opacity=50);*/
 }

 /* Seção "Sobre" */

 #sobre {
 	background-color: rgb(248, 249, 250);
 }

 /* Seção "Serviços" */

 #servicos {
 	background-color: rgba(0, 0, 0, 0.637);
 }

 /* Seção "Clientes" */

 #clientes {
 	background-color: rgb(248, 249, 250);
 }

 /* Seção "Contato" */

 #contato {
 	background-color: rgb(10, 9, 9);
 	color: rgb(248, 249, 250);
 }

 /* Botão Topo */

 #myBtn {
 	display: none;
 	position: fixed;
 	bottom: 20px;
 	right: 30px;
 	z-index: 9999;
 	border: none;
 	outline: none;
 	background-color: rgba(85, 85, 85, 0.493);
 	color: rgba(255, 255, 255, 0.514);
 	cursor: pointer;
 	padding: 3px 10px;
 	border-radius: 10px;
 	font-size: 1.7rem;
 }

 #myBtn:hover {
 	background-color: #555;
 	color: white;
 }

 /* Botão Whatsapp */

 .btnWhats {
 	position: fixed;
 	width: 60px;
 	height: 60px;
 	bottom: 70px;
 	right: 25px;
 	background-color: #25d36591;
 	color: rgba(255, 255, 255, 0.61);
 	border-radius: 50px;
 	text-align: center;
 	font-size: 30px;
 	box-shadow: 1px 1px 2px #888;
 	z-index: 1000;
 }

 .btnWhats:hover {
 	background-color: #25d365;
 	color: rgb(255, 255, 255);
 }

 /* Links da navbar */

 .navbar-light .navbar-nav .nav-link {
 	color: #000;
 	font-size: 14px;
 	font-weight: bold;
 }

 .navbar-light .navbar-nav .nav-link:hover {
 	color: #ffc800;
 	border-bottom: 1px solid #ffc800;
 }

 /* Formatação dos botões */

 .btn-warning {
 	background-color: #ffc800;
 }

 .btn-warning:hover {
 	background-color: #fcd341;
 }

 .botoes {
 	font-weight: bold;
 	width: 300px;
 	height: 80px;
 }

 .botao-contato {
 	padding: 10px;
 	font-weight: bold;
 	width: 300px;
 }

 /* Títulos da "Home" */

 .titulo1 {
 	font-style: italic;
 	font-size: 2em;
 	color: #ffc800;
 }

 .titulo1:after {
 	content: '|';
 	margin-left: 5px;
 	opacity: 1;
 	animation: pisca .7s infinite;
 }

 .titulo2 {
 	font-size: 4em;
 	color: rgb(248, 249, 250);
 }

 .titulo3 {
 	font-style: italic;
 	font-size: 3em;
 	color: #ffc800;
 	padding: 20px;
 }

 /* Títulos das seções */

 .titulos-secoes {
 	margin-bottom: 40px;
 	margin-top: 40px;
 	font-weight: bold;
 	font-size: 2em;
 }

 .titulo-branco {
 	color: rgb(248, 249, 250);
 }

 /* Formatações seção Sobre */

 .texto-sobre {
 	font-size: 1.3em;
 	font-style: italic;
 }

 /* Formatações seção Clientes */

 .img-clientes {
 	padding: 60px;
 	height: 200px;
 	width: 280px;
 	filter: grayscale(90%);
 }

 .img-clientes:hover {
 	filter: grayscale(0);
 }

 /* Formatações seção Contato */

 .texto-contato {
 	font-style: italic;
 }

 .seta-contato {
 	font-size: 6em;
 }

 /* Formatações Rodapé */

 .rodape {
 	padding-top: 50px;
 }

 .rodape-copyright {
 	font-size: 0.9rem;
 	color: rgb(248, 249, 250);
 }

 .logo-rodape {
 	background-color: rgb(248, 249, 250);
 	padding: 10px;
 }

 .icones-rodape {
 	font-size: 1.2rem;
 	color: rgb(248, 249, 250);
 }

 .tel-rodape {
	color: white;
 }

 .tel-rodape:hover {
	color: #ffc800;
 }

 .icones-redes {
 	font-size: 3rem;
 	color: rgb(248, 249, 250);
 }

 .icone-face:hover {
 	color: #3b5998;
 }

 .icone-insta:hover {
 	color: #bc2a8d;
 }

 .linha-rodape {
 	border-color: rgb(248, 249, 250);
 	display: block;
 	border-style: inset;
 	border-width: 1px;
 }

 .sitemap>ul>li>a {
 	color: rgb(248, 249, 250);
 }

 .sitemap>ul>li>a:hover {
 	color: #ffc800;
 }